/* Colores */
:root
{
    --button-color: #010D82;
    --background-color: #f6f6f6;
    --main-color: #010D82;
    --white: #ffffff;
    --secundary-color: #51C9FF;
    --color-email-footer: #0E1238;
    --color-forms: #F8FBFE;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Poppins', sans-serif;
}
/* Main section vertical menu */
main {
    width: 100%;
    background-color: #BFCCCC;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea al principio verticalmente */
    padding-left: 80px;
  }
nav
{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}
.logo
{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 20px 0 0 20px;
    text-transform: uppercase;
}
.logo img
{
    width: 35px;
    height: 35px;
}
.logo span
{
    padding-left: 15px;
    font-size: 1.8rem;
    font-weight: bold;
}
a
{
    position: relative;
    color: var(--main-color);
    font-size: 1.4rem;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}
.fas
{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 2rem;
    text-align: center;
}
.nav-item
{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover
{
    background: #eee;
}
nav:hover
{
    width: 250px;
    transition: all 0.5s ease;
}
.logout
{
    position: absolute;
    bottom: 0;
}
/* main section table */
.main_section_table
{
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table
{
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption
{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px;
}
.table tr
{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.table th, .table td
{
    font-size: 1.6rem;
    padding: 8px;
    text-align: center;
}
.table thead th
{
    text-transform: uppercase;
    background-color: #ddd;
}
.table tbody tr:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}
.table tbody td:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}
.menu_toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.menu_toggle img {
    width: 30px;
    height: 30px;
}