/* Variables de colores */
:root
{
    --button-color: #010D82;
    --background-color: #f6f6f6;
    --main-color: #010D82;
    --white: #ffffff;
    --secundary-color: #51C9FF;
    --color-email-footer: #0E1238;
    --color-forms: #F8FBFE;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}
/* Header navbar */
.header_navbar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}
.header_nav_section_one
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header_nav_image
{
    width: 4.7rem;
    height: 4.5rem;
}
.header_nav_title
{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 1500;
}
.header_nav_title a
{
    text-decoration: none;
    color: var(--main-color);
}
.header_nav_ul
{
    display: flex;
    list-style: none;
    gap: 10rem;
}
.header_nav_ul a
{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.5rem;
}
.header_nav_section_two
{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header_nav_iniciarSes
{
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.5rem;
}
.btn
{
    width: 120px;
    height: 50px;
    line-height: 30px;
    font-size: 1.5rem;
    color: var(--white);
    border: 1rem solid var(--button-color);
    border-radius: 0.8rem;
    background-color: var(--button-color);
    text-align: center;
    text-decoration: none;
}
.btn:hover
{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px var(--button-color);
    transition: all 0.2s ease;
}
/* Mapa de endpoints */
.main_title
{
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0 2rem 0;
    color: var(--main-color);
}
.main_section_div_two p
{
    text-align: justify;
    margin: 1rem;
    font-size: 1.5rem;
}
.main_section_left
{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
}
.main_section_search
{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.main_section_input
{
    width: 600px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
}
.icon
{
    position: absolute;
    width: 50px;
    height: 40px;
    margin-left: 520px;
}
.main_section_questions
{
    margin: 30px;
    padding: 8px;
    font-size: 25px;
}
.main_section_answers
{
    text-align: justify;
    font-size: 16px;
    margin: 30px;
    padding: 8px;
    line-height: 40px;
}
/* footer */
footer
{
    width: 100%;
    height: 20vh;
}
.footer_container
{
    background-color: var(--main-color);
}
.footer_container_sections
{
    display: flex;
    justify-content: space-evenly;
}
.footer_section
{
    margin: 2rem;
    padding: 2rem;
}
.footer_section_div_logo
{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.footer_div_image
{
    width: 4.7rem;
    height: 4.5rem;
}
.footer_div_title
{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 1500;
}
.footer_section_p
{
    color: var(--white);
    font-size: 1.3rem;
    margin-top: 3rem;
}
.footer_section_div_redes
{
    width: 2rem;
    height: 2rem;
    margin: 4rem 1rem 2rem 0.9rem;
}
.footer_div_title_sections
{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 1000;
}
.footer_div_lists
{
    list-style: none;
}
.footer_div_lists a
{
    text-decoration: none;
    color: var(--white);
}
.footer_div_lists li
{
    font-size: 1.3rem;
    margin: 2rem 0 2rem 0;
}
.footer_input
{
    border: none;
    outline: none;
    width: 30rem;
    height: 4rem;
    margin: 3rem 0 0.9rem 0;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: var(--color-email-footer);
    color: var(--white);
    font-size: 1.4rem;
}
.footer_div_lists
{
    color: var(--white);
}
.footer_span
{
   font-size: 1.3rem;
   color: var(--white);
   display: flex;
   justify-content: center;
   padding: 6rem;
}